body {
  margin: 0;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #1e1e1e;
  color: white; */
  background-color: #ffffff;
  color: white;
}
@-moz-document url-prefix() {
  section {
    /*Firefox*/
    scrollbar-color: #262626 transparent;
    scrollbar-width: thin;
  }
}
/*Webkit*/
section::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
section::-webkit-scrollbar-track {
  background-color: transparent;
}
section::-webkit-scrollbar-thumb {
  background-color: #09c;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
